Repository aifrak/template-repo, changes with the labels that .github/labeler.yml gives for each.
All labels: source, tests, dependencies, documentation, chore, docker, github_actions, shellscript, vscode

.github/labeler.yml:

# ---------------------------------------------- #
#                Labels by purpose               #
# ---------------------------------------------- #

source:
  - src/**/*
  - lib/**/*

tests:
  - tests/**/*

dependencies:
  - package*.json

documentation:
  - ./**/*.md

chore:
  - .devcontainer
  - .editorconfig
  - .gitignore
  - .hadolint*
  - .husky/**/*
  - .lintstaged*
  - .markdownlint*
  - .npmrc
  - .prettier*
  - .vscode/**/*
  - scripts/**/*
  - run
  - LICENSE

# ---------------------------------------------- #
#         Labels by technology / language        #
# ---------------------------------------------- #

docker:
  - .dockerignore
  - docker-compose*.yml
  - Dockerfile*

github_actions:
  - .github/**/*

shellscript:
  - pre-commit
  - run
  - ./**/*.sh

vscode:
  - .vscode/**/*

Close Dependabot PRs
  .github/workflows/auto-merge.yml
Labels: github_actions

Close Dependabot PRs (#38)
  .github/workflows/auto-merge.yml
Labels: github_actions

Remove `.gitkeep`
  node_modules/.gitkeep
Labels: none

Remove `.gitkeep` (#39)
  node_modules/.gitkeep
Labels: none

Bump npm from 7.19.1 to 7.20.0
  Dockerfile
Labels: docker

Bump npm from 7.19.1 to 7.20.0 (#40)
  Dockerfile
Labels: docker
