Repository aifrak/template-repo, changes with the labels that .github/labeler.yml gives for each.
All labels: source, tests, dependencies, documentation, chore, docker, github_actions, html, javascript, shellscript, vscode

ci: Do not lint commit messages from Dependabot
  .github/workflows/ci.yml
Labels: github_actions

ci: Do not lint commit messages from Dependabot (#105)
  .github/workflows/ci.yml
Labels: github_actions

chore(lint): Add new rules to `stylelint`
  .stylelintrc.yml
Labels: chore

chore(lint): Add new rules to `stylelint` (#107)
  .stylelintrc.yml
Labels: chore

chore(lint): Spellcheck in `COMMIT_EDITMSG`
  .vscode/settings.json
  cspell.yml
  spellcheck/dictionaries/file-names.txt
Labels: chore, vscode

chore(lint): Spellcheck in `COMMIT_EDITMSG` (#108)
  .vscode/settings.json
  cspell.yml
  spellcheck/dictionaries/file-names.txt
Labels: chore, vscode

ci(lint): Skip git commit lint when Dependabot is author
  scripts/run/git.sh
  spellcheck/dictionaries/bash-custom.txt
Labels: chore, shellscript

ci(lint): Skip git commit lint when Dependabot is author (#109)
  scripts/run/git.sh
  spellcheck/dictionaries/bash-custom.txt
Labels: chore, shellscript

build(lint): Add `eslint` with its config
  .eslintignore
  .eslintrc.yml
  package-lock.json
  package.json
  spellcheck/dictionaries/npm-packages.txt
Labels: dependencies, javascript

chore(lint): Add commands to lint `*.js` and ignored cache
  .gitignore
  .prettierignore
  .vscode/tasks.json
  cspell.yml
  run
  scripts/run/javascript.sh
  spellcheck/dictionaries/file-names.txt
Labels: chore, shellscript, vscode

chore(lint): Lint and format `*.js` during git staging
  .lintstagedrc.yml
Labels: chore

ci: Cache `.eslintcache`
  .github/workflows/ci.yml
Labels: github_actions

chore(vscode): Add settings from `eslint-config-airbnb-base` for formatter and ruler
  .editorconfig
  .vscode/settings.json
Labels: chore, vscode

chore(vscode): Add extension for `eslint`
  .devcontainer/devcontainer.json
  .vscode/extensions.json
  spellcheck/dictionaries/vscode-extensions.txt
Labels: chore, vscode

chore(lint): `commitlintrc` as `yml` to avoid warning from `eslint`
  .commitlintrc.js
  .commitlintrc.yml
Labels: chore, javascript

build(lint): Add `eslint` commands with its config to lint Javascript (#117)
  .commitlintrc.js
  .commitlintrc.yml
  .devcontainer/devcontainer.json
  .editorconfig
  .eslintignore
  .eslintrc.yml
  .github/workflows/ci.yml
  .gitignore
  .lintstagedrc.yml
  .vscode/extensions.json
  .vscode/settings.json
  .vscode/tasks.json
  cspell.yml
  package-lock.json
  package.json
  run
  scripts/run/javascript.sh
  spellcheck/dictionaries/file-names.txt
  spellcheck/dictionaries/npm-packages.txt
  spellcheck/dictionaries/vscode-extensions.txt
Labels: dependencies, chore, github_actions, javascript, shellscript, vscode

chore: Rename `file-names.txt` to `filenames.txt`
  cspell.yml
  spellcheck/dictionaries/filenames.txt
Labels: none

chore: Rename `file-names.txt` to `filenames.txt` (#118)
  cspell.yml
  spellcheck/dictionaries/filenames.txt
Labels: none

chore: Remove `vendor/` from `.*ignore`
  .prettierignore
  .stylelintignore
Labels: chore

chore: Remove `vendor/` from `.*ignore` (#119)
  .prettierignore
  .stylelintignore
Labels: chore

chore: Rewording and reorder command options
  .vscode/tasks.json
  scripts/run/css.sh
Labels: chore, shellscript, vscode

chore(scripts): Rewording and reorder command options (#120)
  .vscode/tasks.json
  scripts/run/css.sh
Labels: chore, shellscript, vscode

build(scripts): Add `concurrently` to run commands concurrently
  package-lock.json
  package.json
Labels: dependencies, javascript

chore(scripts): Run commands concurrently for `lint` and `format`
  run
Labels: chore, shellscript

chore(scripts): Reorder commands alphabetically
  run
Labels: chore, shellscript

chore(scripts): Show message when error during format
  run
Labels: chore, shellscript

chore(scripts): Format javascript in `format` command
  run
Labels: chore, shellscript

chore(scripts): Refactor
  run
Labels: chore, shellscript

chore(scripts): Add clearer comment
  run
Labels: chore, shellscript

build(scripts): Add `concurrently` to run commands concurrently (#121)
  package-lock.json
  package.json
  run
Labels: dependencies, chore, javascript, shellscript

build(scripts): Replace `npm concurrently` with `GNU parallel`
  Dockerfile
  package-lock.json
  package.json
  run
  spellcheck/dictionaries/bash-custom.txt
Labels: dependencies, chore, docker, javascript, shellscript

build(docker): Replace `npm concurrently` with `GNU parallel` (#122)
  Dockerfile
  package-lock.json
  package.json
  run
  spellcheck/dictionaries/bash-custom.txt
Labels: dependencies, chore, docker, javascript, shellscript

chore(deps-dev): Run `npm update`
  package-lock.json
Labels: dependencies, javascript

chore(deps-dev): Run `npm update` (#123)
  package-lock.json
Labels: dependencies, javascript

chore(deps-dev): Relax `prettier` version
  package-lock.json
  package.json
Labels: dependencies, javascript

chore(deps-dev): Relax `prettier` version (#124)
  package-lock.json
  package.json
Labels: dependencies, javascript

chore(deps-dev): Bump npm from 7.24.0 to 8.0.0
  Dockerfile
Labels: docker

chore(npm): Bump npm `engines` from 7 to 8
  package-lock.json
  package.json
Labels: dependencies, javascript

chore(deps-dev): Bump npm from 7.24.0 to 8.0.0 (#131)
  Dockerfile
  package-lock.json
  package.json
Labels: dependencies, docker, javascript

.github/labeler.yml:

# ---------------------------------------------- #
#                Labels by purpose               #
# ---------------------------------------------- #

source:
  - src/**/*
  - lib/**/*

tests:
  - tests/**/*

dependencies:
  - "**/package*.json"

documentation:
  - "**/*.md"

chore:
  - .commitlint*
  - .cz.json
  - .devcontainer
  - .editorconfig
  - "**/.gitignore"
  - "**/.gitkeep"
  - .hadolint*
  - .htmlhint*
  - .husky/**/*
  - .lintstaged*
  - .markdownlint*
  - .stylelint*
  - "**/.npmrc"
  - .prettier*
  - .vscode/**/*
  - scripts/**/*
  - run
  - LICENSE

# ---------------------------------------------- #
#         Labels by technology / language        #
# ---------------------------------------------- #

docker:
  - .dockerignore
  - docker-compose*.yml
  - Dockerfile*

github_actions:
  - .github/**/*

html:
  - "**/*.html*"

javascript:
  - "**/*.js"
  - "**/.npmrc"
  - "**/package*.json"

shellscript:
  - "**/*.sh"
  - .husky/*
  - run

vscode:
  - .vscode/**/*
